<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %>></title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/base.css" />
    <link rel="stylesheet" href="/styles/navigation.css" />
    <script src="/scripts/mobile.js" defer></script>
    <script type="text/javascript">
      var _iub = _iub || [];
      _iub.csConfiguration = {
        askConsentAtCookiePolicyUpdate: true,
        cookiePolicyInOtherWindow: true,
        floatingPreferencesButtonDisplay: "anchored-bottom-right",
        perPurposeConsent: true,
        siteId: 3335681,
        whitelabel: false,
        cookiePolicyId: 54863175,
        lang: "it",
        banner: {
          acceptButtonCaptionColor: "#FFFFFF",
          acceptButtonColor: "#0073CE",
          acceptButtonDisplay: true,
          backgroundColor: "#FFFFFF",
          closeButtonDisplay: false,
          customizeButtonCaptionColor: "#4D4D4D",
          customizeButtonColor: "#DADADA",
          customizeButtonDisplay: true,
          explicitWithdrawal: true,
          listPurposes: true,
          rejectButtonCaptionColor: "#FFFFFF",
          rejectButtonColor: "#0073CE",
          rejectButtonDisplay: true,
          textColor: "#000000",
        },
      };
    </script>
    <script
      type="text/javascript"
      src="https://cs.iubenda.com/autoblocking/3335681.js"
    ></script>
    <script
      type="text/javascript"
      src="//cdn.iubenda.com/cs/iubenda_cs.js"
      charset="UTF-8"
      async
    ></script>
  </head>
</html>
