<%- include ('includes/head.ejs', {pageTitle: "An error occurred"}) %>
<link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/auth.css">
</head>
<body>
<%- include ('includes/header.ejs') %>
<main>
    <h1>You are not authorized!</h1>   
    <p>You are not authorized to access this area. Please</p>
    <p><a class="btn" href="/">Back Home</a></p>
</main>
<%- include ('includes/footer.ejs') %>
</body>
</html>