<%- include ('../../base/includes/head.ejs', {pageTitle: "Failed order"}) %>
</head>
<body>
<%- include ('../../base/includes/header.ejs') %>
<main>
    <h1>Order failed</h1>
    <section>
        <p>
          The order failed! If you have any questions, please contact the shop!
        </p>
    </section>  
</main>
<%- include ('../../base/includes/footer.ejs') %>
</body>
</html>