<%- include ('../../base/includes/head.ejs', {pageTitle: "Susseded order"}) %>
</head>
<body>
<%- include ('../../base/includes/header.ejs') %>
<main>
    <h1>Thanks For Your Orders</h1>
    <section>
        <p>
          The payment is susseded! If you have any questions, please contact the shop!
          You can visit <a href="/orders">the orders page</a> for more details.
        </p>
    </section> 
          
</main>
<%- include ('../../base/includes/footer.ejs') %>
</body>
</html>