<%- include('../../base/includes/head', { pageTitle: 'All Orders' }) %>
<link rel="stylesheet" href="/styles/order.css">
<script src="/scripts/order-management.js" defer></script>
</head>
<body>
  <%- include('../../base/includes/header') %>
  <main>
    <%- include('../../base/includes/order-list') %>
  </main>
  <%- include ('../../base/includes/footer.ejs') %>
</body>