<%- include ('../../base/includes/head.ejs', {pageTitle: "Update product"}) %>
<link rel="stylesheet" href="/styles/forms.css">
<script src="/scripts/image-preview.js" defer></script>
</head>
<body>
<%- include ('../../base/includes/header.ejs') %>
<main>
    <h1>Update Product</h1>
    <%- include ('../../base/includes/product-form.ejs', {
        submitPath: "/admin/products/" + product._id, 
        product: product, 
        imageRequired: false
        }) %>
</main>
<%- include ('../../base/includes/footer.ejs') %>
</body>
</html>